.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 10rem;
    width: 100%;
    &__logo {
    margin-bottom: 3.9rem;
    gap: 4rem;
    &_text {
        font-size: 3rem;
        line-height: 2.4rem;
        font-family: "Norms-Medium";
        font-weight: 700;
        color: #000000;
    }
    }
    &__nav {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2rem;
        @media (max-width: 620px) {
            gap: 2rem;
            justify-content: center;
            justify-content: space-between;
        }
    }
    
    &__pay {
        background-color: #FAFAFA;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 2.6rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2rem;
        width: 100%;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
        &-item:not(:first-child) {
            padding: 2rem 2.5rem;
            background-color: white;
            border-radius: 1rem;
            border: 0;
        }
        @media (max-width: 620px) {
            flex-direction: column;
            &-item {
                width: 50%;
            }
        }
    }
    &__name {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2rem;
        margin-top: 5rem;
    }
}