@charset "UTF-8";
@font-face {
  font-family: "Norms-ExtraBold";
  src: url("../fonts/TTNorms-ExtraBold.eot");
  src: local("☺"), url("../fonts/TTNorms-ExtraBold.woff") format("woff"), url("../fonts/TTNorms-ExtraBold.ttf") format("truetype"), url("../fonts/TTNorms-ExtraBold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Norms-Bold";
  src: url("fonts/TTNorms-Bold.eot");
  src: local("☺"), url("../fonts/TTNorms-Bold.woff") format("woff"), url("../fonts/TTNorms-Bold.ttf") format("truetype"), url("fonts/TTNorms-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Norms-Medium";
  src: url("fonts/TTNorms-Medium.eot");
  src: local("☺"), url("../fonts/TTNorms-Medium.woff") format("woff"), url("../fonts/TTNorms-Medium.ttf") format("truetype"), url("../fonts/TTNorms-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Norms-Regular";
  src: url("fonts/TTNorms-Regular.eot");
  src: local("☺"), url("../fonts/TTNorms-Regular.woff") format("woff"), url("fonts/TTNorms-Regular.ttf") format("truetype"), url("../fonts/TTNorms-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Norms-Regular";
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem;
  overflow-x: hidden;
}

body.noscroll {
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #A95094;
  font-family: "Norms-Regular";
  font-size: 1.6rem;
}
.header__line {
  display: none;
  width: 100%;
  height: 0.2rem;
  background-color: #994786;
}
@media (max-width: 1100px) {
  .header__line {
    display: block;
  }
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header__logo {
  padding-bottom: 1.7rem;
}
.header__logo_text {
  font-size: 3rem;
  line-height: 2.3rem;
  font-family: "Norms-Medium";
  font-weight: 700;
  color: #fff;
}
.header__nav-list {
  display: flex;
  align-items: center;
  margin-left: 7.4rem;
}
@media (max-width: 1100px) {
  .header__nav-list {
    display: none;
  }
}
.header__nav-item {
  margin-right: 4rem;
}
.header__link {
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__link:hover {
  color: #ffc464;
}
.header__burger {
  display: none;
}
@media (max-width: 1100px) {
  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
  }
}
.header__burger:before, .header__burger:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease 0s;
}
.header__burger:before {
  top: 0;
}
.header__burger:after {
  bottom: 0;
}
.header__burger.active span {
  transform: scale(0);
}
.header__burger.active:before {
  transform: rotate(45deg);
  top: 9px;
}
.header__burger.active:after {
  transform: rotate(-45deg);
  top: 9px;
}
.header__burger span {
  position: absolute;
  top: 9px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease 0s;
}
.header__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
@media (max-width: 1100px) {
  .header__contacts {
    margin-top: 2rem;
    width: 100%;
  }
}
.header__place {
  font-family: "Norms-Regular", sans-serif;
  color: #fff;
  margin-right: 4rem;
}
.header__place:before {
  content: "";
  width: 2rem;
  height: 2rem;
  padding-left: 2rem;
  margin-right: 1rem;
  background-image: url("../img/geo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__button {
  font-family: "Norms-Medium", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.8rem 4rem;
  border: 2px solid #ffc464;
  border-radius: 2rem;
  background: none;
  color: #ffc464;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__button:hover {
  background-color: #ffc464;
  color: #fff;
}

.fixed {
  background-color: #994786;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: fixed;
}

.mobile-popup {
  display: none;
}

@media (max-width: 1100px) {
  .mobile-popup {
    position: fixed;
    top: 7.5rem;
    left: -200%;
    width: 100vw;
    height: 100%;
    background: #994786;
    z-index: 1000;
    display: flex;
    transition: 0.3s;
  }
  .mobile-popup.open {
    left: 0;
  }
  .mobile-popup .header__nav-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
  }
  .mobile-popup .header__nav-list > li {
    width: 100%;
    padding-bottom: 5rem;
  }
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #A95094;
  padding-top: 10rem;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1200px) {
  .main {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
}
.main__pictures {
  max-width: 75rem;
  position: relative;
}
.main__pictures-man {
  position: relative;
  z-index: 10;
  bottom: -0.2rem;
}
.main__pictures-washer {
  position: absolute;
  top: 11rem;
  left: -20rem;
  z-index: 6;
}
.main__pictures-layer1 {
  position: absolute;
  bottom: 0;
  right: 21.5rem;
  z-index: 4;
}
.main__pictures-layer2 {
  position: absolute;
  bottom: -5rem;
  right: 21.5rem;
  max-width: 44rem;
  z-index: 2;
}
.main__pictures-squarestar {
  position: absolute;
  top: 4rem;
  left: 9rem;
  z-index: 1;
}
@media (max-width: 1200px) {
  .main__pictures-layer1, .main__pictures-layer2 {
    max-width: 36rem;
  }
  .main__pictures-layer1 {
    right: 5rem;
  }
  .main__pictures-layer2 {
    bottom: 0;
    right: 5rem;
  }
  .main__pictures-squarestar {
    max-width: 18rem;
    left: 39rem;
  }
  .main__pictures-washer {
    max-width: 34rem;
    top: 21rem;
  }
}
@media (max-width: 620px) {
  .main__pictures-layer1, .main__pictures-layer2, .main__pictures-squarestar {
    max-width: 10rem;
  }
  .main__pictures-squarestar {
    left: 10rem;
  }
  .main__pictures-washer {
    max-width: 19rem;
    top: 2.4rem;
    left: -7rem;
  }
  .main__pictures-man {
    max-width: 30rem;
    left: 13rem;
  }
}
.main__promotion {
  margin-top: 13rem;
  max-width: 66rem;
}
.main__promotion-title {
  font-family: "Norms-ExtraBold";
  font-size: 6.7rem;
  line-height: 6.3rem;
  font-weight: 800;
  color: #ffffff;
}
@media (max-width: 620px) {
  .main__promotion-title {
    font-size: 3.8rem;
    line-height: 3.6rem;
  }
}
.main__promotion-text {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: #ffffff;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  max-width: 46rem;
  display: inline-block;
}
.main__promotion-text b {
  color: #FFC464;
}
.main__promotion-btn {
  background-color: #000000;
  padding: 1.8rem 5rem;
  color: #ffffff;
  font-size: 1.6rem;
  border: none;
  border-radius: 2.3rem;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.main__promotion-btn:hover {
  background-color: #FFC464;
}

.popup {
  position: absolute;
  bottom: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: #ffffff;
  padding: 1.4rem 3rem;
  z-index: 50;
  border: none;
  border-radius: 1rem;
  font-size: 1.6rem;
}
.popup-close {
  margin-right: 6.7rem;
  cursor: pointer;
}
.popup b {
  color: #FFC464;
}
.popup-text {
  margin-right: 6.3rem;
}
.popup-link {
  color: #FFC464;
  margin-right: 2.5rem;
}

@media (max-width: 620px) {
  .popup {
    font-size: 1rem;
  }
  .popup-close {
    margin-right: 3.7rem;
  }
  .popup-link {
    margin-right: 0.5rem;
  }
  .popup-text {
    margin-right: 2.3rem;
  }
}
.privilege {
  margin-top: 7rem;
  margin-bottom: 5.5rem;
}
.privilege__list {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.6rem;
  font-family: "Norms-ExtraBold";
}
.privilege__list-item {
  padding-left: 3rem;
  padding-right: 6rem;
  border-right: 1px solid #F9F9F9;
}

@media (max-width: 1100px) {
  .privilege {
    margin-top: 5rem;
  }
  .privilege__list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .privilege__list-item {
    display: flex;
    border: 0;
    margin: 2rem;
  }
  .privilege__list-item p {
    display: inline-block;
    max-width: 20rem;
    text-align: start;
    margin-left: 2rem;
    align-self: center;
  }
}
@media (max-width: 350px) {
  .privilege {
    margin-top: 1rem;
  }
  .privilege__list {
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-family: "Norms-ExtraBold";
  }
}
.diagnostics {
  background-color: #E5E5E5;
  padding: 2rem;
  position: relative;
}
.diagnostics__img-hidden {
  display: none;
}
.diagnostics__wrapper {
  display: flex;
  justify-content: center;
}
.diagnostics__body {
  display: flex;
  flex-direction: column;
}
.diagnostics__body-title {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: #A95094;
  margin-top: 10rem;
}
.diagnostics__body-text {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 4rem;
  margin-top: 1.5rem;
}
.diagnostics__body-btn {
  display: none;
  border: 1px solid #96317D;
  padding: 2rem 0;
  color: #96317D;
  font-size: 1.6rem;
  border-radius: 1rem;
  margin-top: 3rem;
  max-width: 100%;
  cursor: pointer;
  position: relative;
}
.diagnostics__body-btn:after {
  content: "";
  background: url(../img/down.svg);
  position: absolute;
  z-index: 2;
  width: 9px;
  height: 7px;
  right: 3rem;
  bottom: 2.5rem;
}
.diagnostics__body-rule {
  margin-top: 5rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
}
.diagnostics__body-rule p {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}
.diagnostics__img {
  position: relative;
  margin-left: 5rem;
}
.diagnostics__img > img:nth-child(1) {
  position: absolute;
  top: 3rem;
  right: 6.5rem;
}
.diagnostics__img > img:nth-child(2) {
  position: absolute;
  bottom: 25rem;
  left: -7rem;
}

.grid-container {
  margin-top: 5rem;
  margin-right: 3rem;
  display: grid;
  grid-template-columns: minmax(100px, 400px);
  grid-template-rows: auto;
  grid-gap: 20px;
}

.grid-container > p:nth-child(4) {
  grid-column: 1/4;
}

.grid-item {
  padding: 1.5rem;
  background-color: transparent;
  color: #96317D;
  font-size: 1.6rem;
  border: 1px solid #96317D;
  text-align: center;
  border-radius: 3rem;
}
.grid-item:hover {
  color: #ffffff;
  background-color: #96317D;
}

@media (max-width: 1100px) {
  .grid-container {
    display: none;
    margin-right: 0;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  .diagnostics__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .diagnostics__img {
    display: none;
  }
  .diagnostics__body {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .diagnostics__body-btn {
    display: block;
    width: 100%;
  }
  .diagnostics__body-rule {
    text-align: center;
  }
  .diagnostics__body-rule:before {
    left: 32rem;
  }
  .diagnostics__img-hidden {
    display: block;
    max-width: 40rem;
    margin-top: 2rem;
    position: relative;
    z-index: 50;
  }
  .diagnostics__img-hidden > img:nth-child(2) {
    position: absolute;
    left: -1rem;
    bottom: 0;
  }
  .diagnostics__img-hidden > img:nth-child(3) {
    position: absolute;
    right: 3rem;
    bottom: 0;
    z-index: -1;
    max-width: 100%;
  }
}
.hidden-diagnosticBlock.close {
  right: -200%;
}

.hidden-diagnosticBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  transition: 0.3s;
  background-color: gray;
}
.hidden-diagnosticBlock__back {
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.hidden-diagnosticBlock__back span {
  margin-left: 2.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: #993280;
}
.hidden-diagnosticBlock__title {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 5rem;
}
.hidden-diagnosticBlock__list > li {
  display: flex;
  margin-bottom: 3rem;
  align-items: center;
}
.hidden-diagnosticBlock .diagnostic-percent {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 4rem;
  margin-right: 3rem;
  border: 1px solid #FFC464;
  border-radius: 60%;
  padding: 3rem;
}
.hidden-diagnosticBlock .diagnostic-price p {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.8rem;
  margin-bottom: 0.7rem;
}
.hidden-diagnosticBlock .diagnostic-price > span:nth-child(2) {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2rem;
  margin-right: 1rem;
}
.hidden-diagnosticBlock .diagnostic-price > span:nth-child(3) {
  color: #993280;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
}

.price__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}
.price__title {
  margin-top: 10rem;
  margin-bottom: 5rem;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 4rem;
}
.price__table {
  width: 100%;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
}
.price__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 2.5rem 0;
}
.price__service-right {
  display: flex;
  gap: 4.5rem;
}
.price__value {
  display: flex;
  gap: 13rem;
  font-weight: bolder;
}
.price__free {
  color: #96317D;
  font-weight: bolder;
}
.price__price-hidden {
  display: none;
}
.price__show-all {
  font-size: 1.6rem;
  color: #96317D;
  font-weight: 500;
  margin-top: 5rem;
  display: flex;
  gap: 1rem;
  margin-bottom: 10rem;
}
.price__show-all .price-icon {
  width: 2rem;
}
.price .more-items {
  position: absolute;
  top: -100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.23s, opacity 0.23s linear;
}
.price .active {
  position: static;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

@media (max-width: 620px) {
  .price__price-hidden {
    display: block;
  }
  .price .mobile-hidden {
    display: none;
  }
  .price__block > p:nth-child(2) {
    padding-bottom: 1rem;
  }
  .price__service-name {
    font-weight: bolder;
    padding-bottom: 1rem;
  }
  .price__value {
    flex-direction: column;
    gap: 1rem;
    justify-content: end;
  }
  .price__free {
    display: flex;
    align-items: flex-end;
  }
}
.team {
  background-color: #FAFAFA;
}
.team__introduce {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.team__introduce h4 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: #96317D;
  margin-bottom: 1rem;
}
.team__introduce h3 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 4rem;
  color: black;
  margin-bottom: 5rem;
}
.team__men {
  background-color: #FFFFFF;
}
.team__men-about {
  margin: 5rem 0 5rem 4.5rem;
}
@media (max-width: 690px) {
  .team__men-about {
    align-items: center;
    text-align: center;
    margin: 1rem 1rem;
  }
}
.team__men-name {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.8rem;
  margin-bottom: 0.8rem;
}
@media (max-width: 690px) {
  .team__men-name {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
.team__men-specialty {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  margin-bottom: 2.5rem;
}
@media (max-width: 690px) {
  .team__men-specialty {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
.team__men-list {
  padding-bottom: 5rem;
}
.team__men-list li {
  margin-bottom: 2rem;
  color: #96317D;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
}

.button-prev:hover,
.button-next:hover {
  color: black;
}

.button-prev,
.button-next {
  color: #96317d;
  font-size: 1.6rem;
  font-weight: 500;
}

.swiper-click {
  height: 30px;
  display: flex;
  justify-content: flex-end;
}

.swiper-right {
  font-family: "Norms-Medium", sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.review {
  padding-bottom: 10rem;
}
.review__title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.2rem;
  margin: 10rem 0 5rem 0;
  text-align: center;
}
.review__slide {
  background-color: #FAFAFA;
  padding: 5rem;
  max-width: 570px;
  height: 40rem;
}
.review__person {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  margin-bottom: 3.5rem;
}
.review__person img {
  width: 7rem;
  height: 7rem;
}
.review__person-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.review__person-name > p:nth-child(1) {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.8rem;
  margin-bottom: 1rem;
}
.review__person-name > p:nth-child(2) {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.review__text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
}

.review-swiper {
  margin-bottom: 4rem;
}

.prev2,
.next2 {
  color: #96317d;
  font-size: 1.6rem;
  font-weight: 500;
}

.rating {
  background-color: #FAFAFA;
}

.rating__wrapper {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 5rem 0 5rem 0;
}
@media (max-width: 960px) {
  .rating__wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.rating__item {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 3.5rem;
}
@media (max-width: 960px) {
  .rating__item {
    max-width: 30rem;
  }
}

.rating__item-img {
  border-right: 1px solid #E3E3E3;
  padding-right: 3rem;
}

.rating__item-logo {
  padding-left: 3rem;
}

.question {
  margin-top: 10rem;
}
.question__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}
@media (max-width: 1200px) {
  .question__wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.question__title {
  max-width: 30rem;
}
@media (max-width: 1200px) {
  .question__title {
    max-width: 100%;
  }
}
.question__title h3 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 2.5rem;
}
.question__title p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.7rem;
}
.question__title a {
  color: #A95094;
  text-decoration: underline;
}
.question__block {
  max-width: 100%;
}
.question__btn {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
  border: none;
  background-color: #FAFAFA;
  padding: 2.5rem 3.5rem;
  width: 72rem;
  max-width: 100%;
  text-align: start;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #000000;
}
.question__btn:first-child {
  margin-top: 0;
}
.question__btn:after {
  content: "+";
  color: #A95094;
  float: right;
  margin-left: 5px;
}
.question__content {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
  padding: 0 3.5rem;
  color: #A95094;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 1rem;
}

.active-content:after {
  content: "−";
  color: #A95094;
}

.callback {
  background-image: url(../img/callback.png);
  background-position: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.callback__form {
  margin-bottom: 10rem;
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 1.5rem;
  padding: 5rem 9rem;
  max-width: 100%;
}
@media (max-width: 1100px) {
  .callback__form {
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}
.callback__form-title {
  margin-right: 6rem;
}
.callback__form-title h3 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.7rem;
  margin-bottom: 1rem;
}
.callback__form-title p {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
}
.callback__form-title p b {
  color: #A95094;
}
@media (max-width: 1100px) {
  .callback__form-title {
    margin-right: 0;
  }
}
.callback__form-input {
  margin-right: 3rem;
  padding: 2.5rem 3rem;
  background-color: #F5F5F5;
  border: none;
  border-radius: 1rem;
  width: 32rem;
  max-width: 100%;
}
@media (max-width: 1100px) {
  .callback__form-input {
    margin-right: 0;
  }
}
.callback__form-btn {
  padding: 2.5rem 9.6rem;
  text-align: center;
  background-color: #A95094;
  border: none;
  border-radius: 1.5rem;
  color: #FFFFFF;
  width: 32rem;
  max-width: 100%;
}
.callback__form-btn:hover {
  background-color: transparent;
  color: #A95094;
  border: 2px solid #A95094;
}

.map {
  margin-top: 10rem;
  max-width: 100%;
}
@media (max-width: 620px) {
  .map {
    margin-top: 0;
  }
}
.map iframe {
  max-width: 100%;
}

.contact__wrapper {
  display: flex;
  gap: 7rem;
}
@media (max-width: 620px) {
  .contact__wrapper {
    flex-direction: column-reverse;
  }
}
.contact__info {
  margin-top: 17rem;
}
@media (max-width: 620px) {
  .contact__info {
    margin-top: 2rem;
    text-align: center;
  }
}
.contact__info h4 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 5rem;
}
.contact__info-item > p {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.contact__info-item > p:nth-child(1), .contact__info-mail {
  font-weight: bolder;
  font-size: 1.8rem;
}
.contact__btn {
  color: #993280;
  padding: 1.8rem 4rem;
  border: 2px solid #993280;
  border-radius: 1.5rem;
  background-color: transparent;
  margin-top: 3.5rem;
}
.contact__btn:hover {
  background-color: #993280;
  color: white;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
  width: 100%;
}
.footer__logo {
  margin-bottom: 3.9rem;
  gap: 4rem;
}
.footer__logo_text {
  font-size: 3rem;
  line-height: 2.4rem;
  font-family: "Norms-Medium";
  font-weight: 700;
  color: #000000;
}
.footer__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
}
@media (max-width: 620px) {
  .footer__nav {
    gap: 2rem;
    justify-content: center;
    justify-content: space-between;
  }
}
.footer__pay {
  background-color: #FAFAFA;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 2.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  width: 100%;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
.footer__pay-item:not(:first-child) {
  padding: 2rem 2.5rem;
  background-color: white;
  border-radius: 1rem;
  border: 0;
}
@media (max-width: 620px) {
  .footer__pay {
    flex-direction: column;
  }
  .footer__pay-item {
    width: 50%;
  }
}
.footer__name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  margin-top: 5rem;
}